* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: "Montserrat", sans-serif;
}

.d-flex{display: flex;}
.justify-between{justify-content: space-between;}
.align-center{align-items: center;}

.background{
    height: 100vh;
    position: relative;
}

.background > .bg-top{
    background-color: #019689;
    height: 20%;
}

.background > .bg-bottom{
    background-color: #dbdad7;
    height: 80%;
}

main{
    position: absolute;
    width: 80%;
    height: 90%;
    min-width: 780px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} 

main > .my-col-left, .my-col-right{
    float: left;
    height: 100%;
}

main > .my-col-left{
    width: 30%;
    background-color: white;
    border-right: 1px solid gray;
}

main > .my-col-right{
    width: 70%;
    background-color: red;
}

.my-col-left > .user-bar{
    background-color: #eaeaea;
    padding: .5rem;
}

.user-bar > .user-bar-profile > img{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: .5rem;
}

.user-bar > .user-bar-profile > span{
    font-weight: 500;
}

.user-bar > .user-bar-controls > i{
    font-size: 1.3rem;
    color: #b1b1b1;
    padding: .4rem;
}