<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Montserrat google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <!-- Font-Awesome cdn v6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <!-- Vue js 2.6 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- Custom style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Vue Boolzapp</title>
</head>
<body>
    <div class="background">
        <div class="bg-top"></div>
        <div class="bg-bottom"></div>
    </div>
    <main id="app" class="clearfix">
        <div class="my-col-left d-flex">
            <div class="col-left-controls">
                <div class="user-bar d-flex justify-between align-center">
                    <div class="user-bar-profile d-flex align-center">
                        <img src="img/avatar_io.jpg" alt="profile picture">
                        <span class="fw-500">Sofia</span>
                    </div>
                    <div class="user-bar-controls">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="box-info-control d-flex align-center">
                    <div class="icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <p class="fw-500">Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="input-search d-flex">
                    <div class="search-icon d-flex justify-center align-center">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <div class="chats">
                <div class="chat d-flex justify-between" v-for="(element, index) in contacts" :class="(index == chatActive) ? 'active' : '' " @click="switchActive(index)">
                    <div class="d-flex">
                        <img class="chat-user-img" :src="`img/avatar${element.avatar}.jpg`" alt="Img profile chat 1">
                        <div class="chat-description">
                            <p class="fw-500">{{ element.name }}</p>
                            <p class="preview-message">{{ element.messages[element.messages.length -1].message }}</p>
                        </div>
                    </div>
                    <div class="chat-date">
                        <p>{{ element.messages[element.messages.length -1].date }}</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="my-col-right">
            <div class="chat-open-bar d-flex justify-between align-center">
                <div class="chat-open-profile d-flex align-center">
                    <img :src="`img/avatar${contacts[chatActive].avatar}.jpg`" alt="profile picture">
                    <div class="chat-open-profile-descr">
                        <p class="fw-500">{{ contacts[chatActive].name }}</p>
                        <p class="log">Ultimo accesso oggi alle 12:00</p>
                    </div>
                </div>
                <div class="chat-open-controls">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- Visualizzo tutta la chat aperta -->
            <div class="chat-history d-flex flex-column">
                <div class="box-message d-flex flex-column" v-for="element in contacts[chatActive].messages" :class="(element.status == 'sent') ? 'sent' : 'receive' ">
                    <p>{{ element.message }}</p>
                    <span>{{ element.date }}</span>
                </div> 
            </div>

            <div class="insert-message d-flex align-center">
                <div class="add-emoticons">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keypress.enter="sentMessage()">
                <div class="action">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </main>


    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>